.carouselForm_container {
    width: 45vw;
    background-color: white;
    box-shadow: rgba(160, 160, 160, 0.35) 0px 5px 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .carouselForm_elements--padding {
    overflow-y: auto;
    max-height: 80vh;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    display: flex;
    overflow-x: hidden;
  }
  
  .carouselForm_elements {
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .carouselForm_close {
    display: flex;
    margin-right: 0px;
    float: right;
    margin-left: auto;
  }
  
  .carouselForm_elements > p {
    margin-top: 1rem;
  }
  
  .carouselForm_container--text {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-weight: 600;
  }
  
  .carouselForm_title {
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    width: 15vw;
    height: 4vh;
    margin-top: 0.5rem;
    padding: 0 8px;
  }
  
  .carouselForm_title--text {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
  }
  
  .carouselForm_content {
    height: 15vh;
    width: 25vw;
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    outline-color: rgb(199, 199, 199);
  }
  
  .carouselForm_elements > textarea:focus {
    outline: 2px dashed rgb(196, 196, 196);
  }
  
  .carouselForm_elements > input:focus {
    outline: 2px dashed rgb(196, 196, 196);
  }
  
  .carouselForm_select {
    outline-color: #00eadc;
  }
  
  .carouselForm_textarea {
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    width: 15vw;
    height: 4vh;
    margin-top: 0.5rem;
    padding: 0 8px;
  }
  
  .carouselForm_elements > textarea:focus {
    outline: 2px dashed rgb(196, 196, 196);
  }
  
  .carouselForm_textarea:focus{
    outline: 2px dashed rgb(196, 196, 196);
  }
  