.category_container {
  width: 45vw;
  background-color: white;
  box-shadow: rgba(160, 160, 160, 0.35) 0px 5px 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.category_elements {
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.category_elements > p {
  margin-top: 1rem;
}

.category_container--text {
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  font-weight: 600;
}

.category_title {
  border-radius: 3px;
  width: 15vw;
  height: 4vh;
  margin-top: 0.5rem;
}

.category_title--add {
  border-radius: 3px;
  width: 4vw;
  height: 4vh;
  margin-top: 0.5rem;
  background-color: rgb(156, 156, 156);
  color: white;
  font-size: large;
  font-weight: 600;
}

.category_title--add:hover {
  background-color: #00eadc;
  cursor: pointer;
}

.category_content {
  width: 25vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  outline-color: rgb(199, 199, 199);
}

.category_content--input {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.category_content--table {
  width: 25vw;
  margin-top: 2rem;
  display: flexbox;
  background-color: rgb(241, 241, 241);
  height: 40vh;
  overflow: auto;
  margin-bottom: 5vh;
}

.category_content--input > input[type="text"] {
  height: 4vh;
  border-radius: 3px;
  background-color: rgb(241, 241, 241);
  padding: 0 8px;
  border-radius: 3px;
}

.category_content--input > input[type="text"]:focus {
  outline: 2px dashed rgb(196, 196, 196);
}

.category_content--item {
  height: 3vh;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
  border-radius: 3px;
  background-color: rgb(241, 241, 241);
  outline: 2px solid rgb(196, 196, 196);
  color: rgb(196, 196, 196);
  font-size: large;
  font-weight: 600;
}