.controle{
    width: 50%;
    height: 1rem;
    /* background-color: red; */
}

.slider_container{
    width: 100%;
    height: 35rem;
    /* background-color: bisque; */
    display: flex;
    overflow: hidden;
}

.view{
    width: 60%;
    height: 80%;
    margin: auto;
    /* background-color: beige; */
    border-radius: 15px;
}

.slider_row {
    width: 400%;
    height: 100%;
    /* border: 2px solid salmon; */
    display: flex;
    transition: 2s ease;
   
}

.slider_slide{
    width: 25%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
}

.slide_box {
    width: 80%;
    height: 60%;
    border-radius: 15px;
    /* background-color: burlywood; */
    margin: auto;
    opacity: 0.5;
    transition: 2s ease;
    animation: infinite forwards linear;
    @apply 
    bg-cover bg-center
}

.slide_box--active{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    /* background-color: burlywood; */
    margin: auto;
    opacity: 1;
    transition: 2s ease;
        @apply 
    bg-cover bg-center
}

/* 
.slider_container {
    width: 100%;
    height: 55rem;
    overflow: hidden;
}   

.slider_allSlides {
    display: flex;
    height: 100%;
}



.slider_slide{
    transition: 2s;
    display: flex;
    @apply 
    h-full
    bg-cover bg-center
}

.slide_content{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    padding: 2rem;
    cursor: pointer;
}

.slide_content--title {
    text-align: center;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px #000000;
}

.slide_content--title .slide_content--content {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px #000000;
}


 */
 .slider_navigation {
    position: absolute;
    width: 100%;
    margin-top: -2.0rem;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

.slider_navigation--dot {
    margin: 0.5rem;
    border-radius: 100%;
    padding: 0.3rem;
    @apply border-primary border-2
}

.slider_navigation--dot.slider_navigation--active {
    transition: 2s ease;
    @apply bg-primary shadow-2xl
}