
.slider_container {
    width: 100%;
    height: 55rem;
    overflow: hidden;
}   

.slider_allSlides {
    display: flex;
    height: 100%;
}


.slider_slide{
    transition: 2s;
    display: flex;
    @apply 
    h-full
    bg-cover bg-center
}

.slide_content{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    padding: 2rem;
    cursor: pointer;
}

.slide_content--title {
    text-align: center;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px #000000;
}

.slide_content--title .slide_content--content {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px #000000;
}

.slider_navigation {
    position: absolute;
    width: 100%;
    margin-top: -3.0rem;
    display: flex;
    justify-content: center;
    color: red;
}

.slider_navigation--dot {
    margin: 0.5rem;
    border: 2px solid red;
    border-radius: 100%;
    padding: 0.3rem;
}

.slider_navigation--dot.slider_navigation--active {
    background-color: red;
    transition: 0.5s ease-in;
}

