.table_container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.MuiTableBody-root {
  width: 75vw;
}

.row_title {
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row_content {
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
