.listContainer{
    width: 80%;
    min-width: 900px;
    margin: auto;
    display: flex;
}

.listContainer_posts{
    width: 65%;
    min-width: 730px;
    margin-left: auto;
    padding: 2rem;
}

.listContainer_posts--title{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: auto;
    display: flex;
    font-size: 3rem;
    font-weight: bold;

    @apply text-primary-400
}

.listItem{
    width: 100%;
    margin-left: auto;
    display: flex;

    @apply 
    bg-secondary  
    shadow-xl
}


.listItem--next {
    margin-top: 0.5rem;
}

.listItem_photo {
    margin: auto;
    padding: 0;
    width: 9rem;
    min-width: 9rem;
    height: 9rem;
    min-height: 9rem;
    @apply 
        bg-cover bg-center
}

.listItem_content {
    width: calc(100% - 9rem);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    padding: 0.5rem 0.25rem;
    @apply 
    rounded-lg
}

.listItem_title {
    width: 100%;
    font-size: medium;
    font-weight: bold;
    @apply 
    text-primary
}

.listItem_date {
    width: 100%;
    font-size: small;

    @apply  text-secondary-600
}

.listItem_snippet {
    width: 95%;
    margin-right: auto;
    max-height: 4rem;
    font-size: small;
    @apply 
    text-primary-400
    truncate
}

