.bestContainer_header{
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin: 2rem auto 4rem auto;
}

.bestContainer_header h1,
.bestContainer_header h2,
.bestContainer_header p {
    width: 60%;
    min-width: 600px;
    margin:auto;
    display: block;
    text-align: center;
}

.bestContainer_header h1{
    font-size: large;
    @apply
        text-primary-200
}

.bestContainer_header h2{
    font-size: x-large;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    @apply
    text-primary
}

.bestContainer_header p{
    font-size: medium;
    @apply
        text-primary-200
}

.bestContainer_header p a{
    font-weight: bold;
    cursor: pointer;
    @apply text-primary-300
}

.bestContainer{
    width:50%;
    min-width: 900px;
    height: 23rem;
    margin: auto;
    margin-bottom: 4rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bestContainer_bestPost{
    width: 17%;
    height: 21rem;
    min-width: 270px;
    margin: 0 1rem;
    overflow: hidden;
    
    @apply 
    bg-secondary 
    shadow-xl
}

.bestContainer_bestPost--second{
    height: 23rem;
}

.bestPost_bestPhoto{
    margin: auto;
    padding: 0;
    width: 100%;
    height: 8rem;

    @apply
    bg-cover bg-center
}

.bestContainer_bestPost--second .bestPost_bestPhoto{
    height: 10rem;
}

.bestPost_bestContent{
    position: relative;
    margin: auto;
    height: 12.5rem;
    padding: 0 0.5rem;
}

.bestPost_bestTitle{
    font-size: 14px;
    font-weight: bold;
    margin-top: 0.5rem;
    @apply 
    text-primary-400
}

.bestPost_bestDate{
    font-size: smaller;
    @apply 
    text-secondary-600 
}

.bestPost_bestSnippet{
    font-size: small;
    height: 6rem;
    margin-top: 0.5rem;
    overflow: hidden;
    text-align: justify;
    @apply 
    text-primary-400
}

.bestPost_bestHidden{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    font-size: small;
    font-weight: bold;
    @apply 
    bg-gradient-to-b from-transparent to-secondary text-primary-400
}


